@charset "UTF-8";

.new-message {
	border-bottom: thin solid #a9a9a9;
}

.message-form {
	width: 80%;
	margin: 0 auto;
}

.message-form-container-box {
	display: flex;
	border-bottom: thin solid #c0c0c0;
}

.message-form-container-content {
	width: 70%;
}

.message-form-container-button {
	width: 30%;
	display: flex;
	justify-content:flex-end;
	margin: auto 0;
}

.message-text {
	white-space: pre-wrap;
}

.comment-text {
	white-space: pre-wrap;
}

