<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:fragment="stylesheet" th:href="@{/css/style.css}"
	rel="stylesheet">
<script th:fragment="jquery"
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:fragment="javascript" type="text/javascript"
	th:src="@{/js/script.js}"></script>
<title>templates</title>
</head>
<!-- /*共通部分*/ -->
<header th:fragment="header">
	<div class="flex-box">
		<h1 class="flex1">
			<a th:href="@{'/'}">@社内掲示板</a>
		</h1>
		<div class="flex2">
			<th:block th:if="${session.loginUser.branchId==1}">
				<th:block th:if="${session.loginUser.departmentId==1}">
					<a th:href="@{/user/management}">ユーザー管理画面</a>
				</th:block>
			</th:block>

			<div class="logout">
				<form th:method="post" th:action="@{/logout}">
					<input type="submit" value="ログアウト">
				</form>
			</div>
		</div>
	</div>
	<div class="login-user-accout">
		Account : <span th:text="${session.loginUser.account}"></span>
	</div>
	<div class="login-user-name">
		Name : <span th:text="${session.loginUser.name}"></span>
	</div>

</header>
<footer th:fragment="footer">
	<span>Copyright &#064; 2022 Ateam.Board Inc. All rights
		reserved.</span>
</footer>

<form th:fragment="back" action="/">
	<input type="submit" value="戻る" />
</form>

<!-- /*ユーザー関連*/ -->

<div th:fragment="errormessages">
	<div th:if="${errorMessages}">
		<ul class="errorMessages" th:each="errorMessages : ${errorMessages}">
			<li th:text="${errorMessages}">
		</ul>
	</div>
</div>

<div th:fragment="user-form(button)">
	<div>
		<div>アカウント名</div>
		<div>
			<input type="text" name="account" th:value="*{account}" size="20"
				maxlength="20" />
		</div>

		<div>パスワード</div>
		<div>
			<input type="password" name="password" th:value="${password}"
				size="20" maxlength="20" />
		</div>
		<div>確認用パスワード</div>
		<div>
			<input type="password" name="checkPassword"
				th:value="${checkPassword}" size="20" maxlength="20" />
		</div>
		<input type="hidden" name="blankPassword" th:value="*{Password}">
		<div>名前</div>
		<div>
			<input type="text" name="name" th:value="*{name}" size="20"
				maxlength="10" />
		</div>
		<th:block th:if="${formModel.account == session.loginUser.account}">
			<div>支社ID</div>
			<div th:with="tmpBranchId=*{branchId}">
				<p th:text="${branches[tmpBranchId-1].name}"></p>
			</div>
			<div>部署ID</div>
			<div th:with="tmpDepartmentId=*{departmentId}">
				<p th:text="${departments[tmpDepartmentId-1].name}"></p>
			</div>
			<input type="hidden" name="isStoped" value="0">
		</th:block>

		<th:block th:if="${formModel.account != session.loginUser.account}">
			<div>支社ID</div>
			<select name="branchId">
				<option th:each="branch:${branches}" th:value="${branch.id}"
					th:text="${branch.name}" th:selected="${branch.id}==*{branchId}"></option>
			</select>
			<div>部署ID</div>
			<select name="departmentId">
				<option th:each="department:${departments}"
					th:value="${department.id}" th:text="${department.name}"
					th:selected="${department.id}==*{departmentId}"></option>
			</select>
			<input type="hidden" name="isStoped" value="0">
		</th:block>

	</div>
	<input th:value="${button}" type="submit" />
</div>





</html>