<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>編集処理</title>
<link rel="stylesheet" th:href="@{/css/edit.css}" />
</head>



<body>
	<div th:replace="common :: header"></div>
	<!-- エラーメッセージ表示フォーム -->
	<div th:replace="common :: errormessages"></div>

	<div class="new-message">

	<form th:method="put" th:action="@{/update}" th:object="${formModel}">

		<div class="new-message-elements">
			件名<br>
			<input type="text" name="title" th:value="*{title}" maxlength="300" /><br>
			投稿<br>
			<textarea name="text" th:field="*{text}" cols="100" rows="5" maxlength="10" /></textarea><br>
			カテゴリ<br>
			<input type="text" name="category" th:value="*{category}" maxlength="100" /><br>

		</div>

		<input type="hidden" name="id" th:value="*{id}">
		<input type="hidden" name="userId" th:value="*{userId}" />
		<input type="submit" value="投稿" />

		</form>
	</div>

	<div th:replace="common :: back"></div>
	<div th:replace="common :: footer"></div>
</body>
</html>