<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>

	<!-- エラーメッセージ表示フォーム -->
	<div th:replace="common :: errormessages"></div>

	<div th:if="${session.loginErrors}">
		<ul class="loginErrors" th:each="loginErrors : ${session.loginErrors}">
			<li th:text="${loginErrors}">
		</ul>
	</div>

	<!-- ログインフォーム -->
	<form th:method="post" th:action="@{/login}" th:object="${formModel}" class="signin-form">

		<div>
			<div>アカウント名</div>
			<div>
				<input type="text" name="account" th:value="*{account}" size="20"
					maxlength="200" />
			</div>

			<div>パスワード</div>
			<div>
				<input type="password" name="password"size="20"
					maxlength="200" />
			</div>
			<input type="hidden" name="isStoped" value="0">
		</div>

		<input type="submit" value="ログイン" />
	</form>

	<div th:replace="common :: back"></div>

</body>
</html>