<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規投稿画面</title>
<link th:fragment="stylesheet" th:href="@{/css/style.css}"
	rel="stylesheet">
<script th:fragment="jquery"
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:fragment="javascript" type="text/javascript"
	th:src="@{/js/script.js}"></script>
</head>
<body>
	<div th:replace="common :: header"></div>
	<!-- エラーメッセージ表示フォーム -->
	<div th:replace="common :: errormessages"></div>

	<div class="new-message">

		<form method="post" th:action="@{/add}" th:object="${formModel}">

			<div class="new-message-elements">
				件名<br>
				<input type="text" name="title" th:value="*{title}" th:field="*{title}" maxlength="300" /><br>
				投稿<br>
				<textarea name="text" th:field="*{text}" cols="100" rows="5" maxlength="2000"></textarea><br>
				カテゴリ<br>
				<input type="text" name="category" th:value="*{category}" maxlength="100" /><br>
				<input type="hidden" name="userId" th:value="${session.loginUser.id}" />
			</div>

			<input type="submit" value="投稿" />

		</form>
	</div>

	<div th:replace="common :: back"></div>
	<div th:replace="common :: footer"></div>

</body>
</html>