<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:replace="common :: stylesheet">
<link rel="stylesheet" th:href="@{/css/top.css}" />
<script th:replace="common :: jquery"></script>
<script th:replace="common :: javascript"></script>
</head>
<body>

	<div th:replace="common :: header"></div>

	<section class="message-filtering">
		<form th:action="@{/search}" th:method="get" th:object="${dateFilter}">
			<input type="date" name="start" th:value="${start}"> ~ <input
				type="date" name="end" th:value="${end}"> <input type="text"
				name="category" th:value="${category}"> <input type="submit"
				value="絞込">
		</form>
	</section>

	<section class="new-message">
		<!-- 新規投稿ボタン -->
		<a href="/new"><button type="button">新規投稿</button> </a>
	</section>

	<!-- エラーメッセージ表示フォーム -->
	<div th:if="${errorMessages}">
		<ul class="errorMessages" th:each="errorMessages : ${errorMessages}">
			<li th:text="${errorMessages}">
		</ul>
	</div>

	<div th:if="${session.adminErrors}">
		<ul class="adminErrors" th:each="adminErrors : ${session.adminErrors}">
			<li th:text="${adminErrors}">
		</ul>
	</div>

	<div th:if="${session.commentErrors}">
		<ul class="commentError"
			th:each="commentError : ${session.commentErrors}">
			<li th:text="${commentError}">
		</ul>
	</div>

	<div th:if="${session.userErrors}">
		<ul class="userError"
			th:each="userError : ${session.userErrors}">
			<li th:text="${userError}">
		</ul>
	</div>

	<!-- 投稿表示フォーム -->
	<section class="message-form">

		<div class="message-form-container" th:each="message : ${messages}">

			<div class="message-form-container-box">

				<div class="message-form-container-content">

					<!-- 投稿ID -->
					<div class="message-id" th:text="${message.id}"></div>

					<!-- 投稿タイトル -->
					<div th:text="${message.title}"></div>

					<!-- 投稿内容 -->
					<div class="message-text" th:text="${message.text}"></div>

					<!-- 投稿カテゴリ -->
					<div th:text="${message.category}"></div>

					<!-- 投稿日時 -->
					<div class="message-date"
						th:text="${#dates.format(message.createdDate, 'yyyy年MM月dd日 HH時mm分')}"></div>

				</div>

				<div class="message-form-container-button">

					<!-- 投稿編集ボタン -->
					<div th:if="${message.userId == session.loginUser.id}">
						<a th:href="@{/edit/{id}(id=${message.id})}"><button
								type="button">更新</button> </a>
					</div>

					<!-- 投稿削除ボタン -->
					<div th:if="${message.userId == session.loginUser.id}">
						<form th:action="@{/delete/{id}(id=${message.id})}"
							th:method="delete">
							<input type="submit" value="削除" class="delete-message">
						</form>
					</div>

				</div>

			</div>

			<div class="message-form-comment-box">

				<div class="comment-form" th:each="comment : ${comments}"
					th:if="${comment.messageId == message.id}">

					<!-- コメントテキスト -->
					<div class="comment-text" th:text="${comment.text}"></div>

					<!-- コメント日時 -->
					<div class="comment-date"
						th:text="${#dates.format(comment.createdDate, 'yyyy年MM月dd日 HH時mm分')}"></div>

					<!-- コメント削除ボタン -->
					<div class="buttom delete-comment-buttom" th:if="${comment.userId == session.loginUser.id}">
						<form th:action="@{/delete-comment/{id}(id=${comment.id})}"
							th:method="delete">
							<input type="submit" value="コメントの削除" class="delete-comment">
						</form>
					</div>

				</div>

				<div class="new-comment">

					<form method="post" th:action="@{/add-comment}"
						th:object="${commentModel}">

						<div class="new-commen-text">
							<textarea th:if="${message.id == session.AddCommentMessageId}" name="text" cols="100"
								rows="5" th:text="${session.AddCommentText}"></textarea>
							<textarea th:unless="${message.id == session.AddCommentMessageId}" name="text" cols="100" rows="5"></textarea>
						</div>

						<div class="new-comment-buttom">
							<input type="hidden" name="userId" th:value="${message.userId}" />
							<input type="hidden" name="messageId" th:value="${message.id}" />
							<input type="submit" value="コメントする" />
						</div>

					</form>

				</div>

			</div>

		</div>

	</section>
	<div th:replace="common :: footer"></div>
</body>
</html>