<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー管理画面</title>
<link th:replace="common :: stylesheet">
<script th:replace="common :: jquery"></script>
<script th:replace="common :: javascript"></script>
</head>
<body>
	<div th:replace="common :: header"></div>
	<div th:if="${session.userErrors}">
		<ul class="userError" th:each="userError : ${session.userErrors}">
			<li th:text="${userError}">
		</ul>
	</div>
	<table>
		<thead>
			<tr>
				<td>アカウント名</td>

				<td>パスワード</td>

				<td>名前</td>

				<td>支社ID</td>

				<td>部署ID</td>

				<td>ステータス</td>
			</tr>
		</thead>

		<tbody>
			<tr class="user-property" th:each="user:${users}" th:object="${user}">
				<td><a th:href="@{/user/edit/{id}(id=${user.id})}"> <span
						th:text="${user.account}"></span></a></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.branchId}"></td>
				<td th:text="${user.departmentId}"></td>
				<td><th:block
						th:if="${user.account != session.loginUser.account}">
						<form th:action="@{/status/{id}(id=${user.id})}" th:method="put"
							onchange="submit(this.form)" class="user-status"
							th:object="${user}">

							<input type="hidden" name="account" th:value="${user.account}">
							<input type="hidden" name="password" th:value="${user.password}">
							<input type="hidden" name="name" th:value="${user.name}">
							<input type="hidden" name="branchId" th:value="${user.branchId}">
							<input type="hidden" name="departmentId"
								th:value="${user.departmentId}"> <input type="hidden"
								name="isStopped" th:value="${user.isStopped}">

							<th:block th:if="${user.isStopped == 0}">
								<span>稼働中</span>
								<input type="submit" value="停止" class="status-change">
							</th:block>
							<th:block th:if="${user.isStopped == 1}">
								<span>停止中</span>
								<input type="submit" value="復活" class="status-change">
							</th:block>

						</form>
					</th:block> <th:block th:if="${user.account == session.loginUser.account}">
						<th:block th:if="${user.isStopped == 0}">
							<span>稼働中</span>
						</th:block>
						<th:block th:if="${user.isStopped == 1}">
							<span>停止中</span>
						</th:block>
					</th:block></td>
		</tbody>

	</table>

	<a th:href="@{/signup}">新規ユーザー登録画面</a>
	<div th:replace="common :: back"></div>
	<div th:replace="common :: footer"></div>
</body>
</html>